<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeverSkip - Homework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='k.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">NeverSkip</a>
            <a href="{{ url_for('lessons') }}">Lessons</a>
            <a href="{{ url_for('recommend_concepts') }}">Recommend</a>
            <a href="{{ url_for('report_card') }}">Report</a>
            <a href="{{ url_for('attendance') }} ">attendance</a>
            <a href="{{ url_for('work') }} ">work</a>
        </nav>
    </header>
    <section>
        <table>
            <tr>
                <th>S.No</th>
                <th>Subject</th>
                <th>Attendance</th>
            </tr>
            {% if attendance_data %}
                {% for item in attendance_data %}
                <tr>
                    <td>{{ item.sno }}</td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.attendance }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">No attendance data available.</td></tr>
            {% endif %}
        </table>
    </section>
</body>
</html>